@import "_normalize.scss";
@import "bootstrap-grid.min";
@import "_bootstrap-utilities.min.scss";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.section1 {
  background: url(../img/BG.jpg) center center no-repeat;
  background-size: cover;
}
.logo {
  padding-top: 70px;
}
a,
li {
  text-decoration: none;
  list-style: none;
}
.menu {
  padding-top: 70px;
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    &:not(:last-child) {
      margin-right: 36px;
    }

    &--active_page,
    &:hover {
      color: #262626;
      border-top: 3px solid #ff6033;
    }
  }
}
.item__link {
  font-weight: bold;
  line-height: 27px;
  color: #262626;
}
.menu__text,
.menu__title {
  font-family: "Raleway";
  font-style: normal;
  color: #262626;
}
.menu__title {
  font-weight: 900;
  font-size: 60px;
  line-height: 70px;
}
.menu__text {
  font-weight: 300;
  font-size: 17px;
  line-height: 27px;
}
.title {
  padding-top: 189px;
  margin-bottom: 15px;
}
.text {
  margin-bottom: 28px;
}
.menu__button {
  background: #ff6033;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 5px rgba(0, 0, 0, 0.5);
  margin-bottom: 250px;
}
.text_button {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  color: #ffffff;
  margin: auto 26px;
}
.ico {
  margin-left: 49%;
  margin-bottom: 65px;
}
.section2 {
  background: url(../img/plate.png) -666px center no-repeat #00c4c4;
  background-size: cover;

  &__title,
  &__text {
    font-family: "Raleway";
    font-style: normal;
    color: #ffffff;
    text-align: center;
  }
  &__title {
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
  }
  &__text {
    font-weight: 300;
    font-size: 17px;
    line-height: 27px;
  }
}
.title_position {
  margin-top: 271px;
  margin-right: 56px;
}
.text_position {
  margin-right: 56px;
  text-align: left;
}
.end {
  margin-bottom: 200px;
}

.section3 {
  background: url(../img/Tomatoes.png) 900px center no-repeat #70bfff;
  display: flex;

  &__list {
    text-decoration: none;
    list-style: none;
  }
  &__item {
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.5));
    background: #fff;
    display: flex;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: nowrap;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #262626;
  }
  &__img {
    border-left: solid 2px #9d9d9d;
  }
  &__item:last-child {
    margin-bottom: 170px;
  }
  &__title {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
    /* identical to box height */

    text-align: center;

    color: #ffffff;
  }
}
.section3_item {
  margin-bottom: 18px;
}
.section3_list {
  padding-top: 170px;
}
.section3_title {
  margin-top: 230px;
}

.section4 {
  background: #ffe92f;
  &__title,
  &__subtitle {
    font-family: "Raleway";
    font-style: normal;
    text-align: center;
    color: #262626;
  }
  &__title {
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
  }
  &__button {
    background: #5585a2;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 16px 43px;
  }
  &__button_text {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.section4_title {
  padding-top: 92px;
  margin-bottom: 30px;
}
.section4_subtitle {
  padding-bottom: 50px;
  width: 623px;
  margin: 0 auto;
}
.last_img {
  margin-bottom: 50px;
}
.section4_button {
  margin-bottom: 160px;
}
.section5 {
  background: url(../img/BGsection5.png) center center no-repeat;
  background-size: cover;
  &__title,
  &__subtitle {
    font-family: "Raleway";
    font-style: normal;
    color: #262626;
  }
  &__title {
    font-weight: bold;
    font-size: 40px;
    line-height: 47px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 17px;
    line-height: 20px;
  }
  &__form {
    border: 1px solid #262626;
    width: 570px;
    height: 55px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 30px;
    line-height: 18px;
    color: rgb(0, 0, 0);
    padding-left: 15px;
  }
  &__form::placeholder {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 15px;
    line-height: 18px;
    color: rgba(0, 0, 0, 0.5);
    padding-left: 15px;
  }
  &__button {
    background: #96b92c;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
    padding: 16px 26px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }
}
.section5_title {
  padding-top: 130px;
  margin-bottom: 20px;
}
.section5_subtitle {
  margin-bottom: 30px;
}
.section5_form {
  margin-bottom: 136px;
}
.section6 {
  background: #b07cf7;
  &__title,
  &__subtitle {
    font-family: "Raleway";
    font-style: normal;
    text-align: center;
    color: #ffffff;
  }
  &__title {
    font-weight: bold;
    font-size: 90px;
    line-height: 106px;
  }
  &__subtitle {
    font-weight: 300;
    font-size: 17px;
    line-height: 25px;
  }
}
.section6_title {
  padding-top: 92px;
  margin-bottom: 30px;
}
.section6_subtitle {
  margin-bottom: 50px;
  padding-left: 49%;
}
